@media only screen and (max-width : 1199px){
	
	/*	HOMEPAGE	*/


	#header_top
	{
		width: 100%;
	}

	#header_middle
	{
		width: 100%;
	}

	#header_bottom
	{
		width: 100%;
	}

	#home_section_1 .col-md-12 a span:nth-of-type(1)
	{
	    top: 38px;
	}

	#home_section_1 .col-md-12 a span:nth-of-type(2)
	{
	    bottom: 38px;
	}

	#home_section_1 .col-md-12 h1
	{
	    font-size: 50px;
	}

	#section_2 a h1
	{
	    max-width: 100%;
	    text-align: center;
	    font-size: 40px;
	}

	#section_3 a h1
	{
	    max-width: 100%;
	    text-align: center;
	    font-size: 40px;
	}



	/*	PRODUCT	*/


	#recently_viewed_content
	{
		width: 100%;
	}

	.discover_container h3
	{
	    top: 25%;
	}

	.discover_container h2
	{
	    top: 40%;
	}



	/*	WISHLIST 	*/


	.cart_btns a
	{
		display: block;
		border-bottom: 0;
		text-decoration: underline;
		line-height: 1.5;
	}

	.cart_btns a:hover
	{
		text-decoration: none;
	}


	/*	FOOTER 	*/
	

	#footer .row .col-md-2:nth-of-type(2)
	{
		padding-left: 0;
	}

	#newsletter_signup input[type=email]
	{
	    width: 75%;
	}
}

@media only screen and (min-device-width : 1030px) and (max-device-width : 1170px){

	.sub_sub_menu_container .col-md-4
	{
		display: none;
	}

	.sub_sub_menu_container
	{
		width: 100%;
		min-width: 950px;
	}

	.top_submenu_container
	{
		width: 1000px;
	}
}

@media only screen and (min-device-width : 992px) and (max-device-width : 1029px){
	
	.sub_sub_menu_container .col-md-4
	{
		display: none;
	}

	.top_submenu_container
	{
		width: 960px;
	}	
}

@media only screen and (max-width : 1012px){
	
	#section_style_edit .row
	{
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media only screen and (max-width : 991px){
	
	

	/*	HOMEPAGE	*/

	#header_top
	{
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}

	#header_top .col-md-4
	{
		padding-top: 2px;
		padding-bottom: 2px;
	}

	#header_top .col-sm-12
	{
		display: none;
	}

	#header_top_container #header_top .col-sm-6:not(:last-of-type)
	{
		text-align: left;
		padding-left: 0;
	}

	#main_menu
	{
		display: none;
	}

	#menu_mobile
	{
		display: block;
	}

	#logo_header
	{
	    margin-top: 5px;
	    width: 100%;
	    max-width: 300px;
	}

	#header_middle
	{
		height: auto;
	}

	#header_middle .col-md-4:last-of-type
	{
		padding-left: 0;
		text-align: center;
	}

	#header_middle .col-md-4:last-of-type a
	{
		top: 15px;
	}

	#header_bottom
	{
		width: 100%;
	}

	#header_bottom a:nth-of-type(1)
	{
		margin-left: 10px;
	}

	#header_bottom_container
	{
		padding-top: 20px;
	}

	#search_container
	{
		margin-right: 10px;
	}

	#home_section_1_container
	{
	    margin-top: 90px;
	}

	#home_section_1 .col-md-12 a span:nth-of-type(1)
	{
	    top: 28px;
	}

	#home_section_1 .col-md-12 a span:nth-of-type(2)
	{
	    bottom: 28px;
	}

	#home_section_1 .col-md-12 h1
	{
	    font-size: 36px;
	}

	#section_2 a h1
	{
	    font-size: 30px;
	    padding-left: 10px;
	    padding-right: 10px;
	}

	#section_3 a h1
	{
	    font-size: 30px;
	    padding-left: 10px;
	    padding-right: 10px;
	}

	#section_style_edit
	{
	    padding-top: 0;
	}

	#section_style_edit>h1
	{
	    margin-top: 0;
	    margin-bottom: 20px;
	}

	#section_style_edit>h1 img
	{
	    height: 18px;
	}

	#section_style_edit>h1 span
	{
	    top: 2px;
	    font-size: 32px;
	    letter-spacing: 20px;
	}

	#section_style_edit
	{
		width: 100%;
		overflow-x: hidden;
		box-sizing: border-box;
		padding-left: 10px;
		padding-right: 10px;
	}

	#section_style_edit .row
	{
		margin-bottom: 10px;
	}

	#section_style_edit .col-md-6 .col-md-6:nth-of-type(2)
	{
		padding-left: 0;
	}

	#section_style_edit .row>.col-md-6>a>.col-md-6 h2
	{
		font-size: 20px;
	    margin-top: -5px;
	}

	#section_style_edit .row>.col-md-6>a>.col-md-6 p
	{
	    margin-top: 0;
	    font-size: 15px;
	}

	#whats_trending
	{
	    padding-left: 10px;
	    padding-right: 10px;
	    margin-top: 0;
	}

	#whats_trending>h1
	{
	    font-size: 36px;
	    margin-bottom: 20px;
	}

	.slick-slide a img
	{
	    max-width: 150px;
	}



	/*	LOCATION	*/


	#countries_container
	{
	    margin-top: 100px;
	}


	/*	DESIGNER	*/

	#product_container
	{
		margin-top: 100px;
	}

	.filter_controls
	{
	    text-align: left; 
	}

	.filter_controls .sort_controls
	{
		margin-left: 10px;
	}

	.filter_container>ul>li
	{
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.filter_container
	{
		margin-bottom: 10px;
	}

	.filtered_products
	{
		padding-left: 25px;
	}

	#style_with_content
	{
		width: 100%;
		text-align: center;
	}

	#style_with_products
	{
		text-align: center;
	}

	#style_with_products a
	{
		margin-left: auto;
		margin-right: auto;
	}

	#style_with_products a img
	{
		max-width: 150px;
	}



	/*	DESIGNER LIST	*/


	#designers_container
	{
		margin-top: 100px;
	}




	/*	ACCOUNT HOME	*/



	#acc_landing_container
	{
		margin-top: 100px;
	}




	/*	ACCOUNT	*/


	.info_menu ul li
	{
		display: inline-block;
	}

	.account_content>.row
	{
		margin-bottom: 5px;
	}

	.account_content>.row:nth-of-type(4)
	{
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.account_content>.row:nth-of-type(4) .col-md-3
	{
		display: none;
	}

	.account_content>.row .col-md-12
	{
		margin-bottom: 10px;
	}

	.size_default .row .col-md-4
	{
		padding-right: 15px;
		margin-bottom: 10px;
	}

	.size_female .row .col-md-4
	{
		padding-right: 15px;
		margin-bottom: 10px;
	}

	.size_male .row .col-md-4
	{
		padding-right: 15px;
		margin-bottom: 10px;
	}

	.btn_save_info_row
	{
		margin-top: 15px;
		width: 100%;
	}

	.btn_save_info_row .col-md-12
	{
		padding-right: 0;
	}

	.btn_save_info_row .col-md-12 button
	{
		margin-right: 0;
	}




	/*	LOGIN / REGISTER	*/


	#login_register_container
	{
		margin-top: 100px;
	}


	.login_container
	{
		margin-bottom: 25px;
	}

	.reg_form_container
	{
	    padding-right: 15px;
	    padding-left: 15px;
	    border-left: none;
	}




	/*	PRODUCT	*/


	#recently_viewed_content
	{
		width: 100%;
	}

	#recently_viewed_products
	{
		margin-bottom: 0;
	}

	#recently_viewed_products a
	{
	    width: 160px;
	    margin-right: 8px;
	    margin-bottom: 10px;
	    text-align: left;
	}

	#recently_viewed_products a img
	{
		max-width: 150px;
	}





	/*	LOYALTY 	*/




	.loyalty_track_menu
	{
	    padding-left: 15px;
	}

	#loyalty_container
	{
		margin-top: 100px;
	}




	/*	ORDER DETAILS 	*/



	#order_container
	{
		margin-top: 100px;
		width: 100%;
	}




	/*	WISHLIST 	*/



	#wishlist_container
	{
		width: 100%;
		margin-top: 100px;
	}





	/*	CHECKOUT ADDRESS 	*/



	#checkout_container
	{
		margin-top: 100px;
	}




	/*	CHECKOUT CONFIRM 	*/



	#checkout_container
	{
		width: 100%;
		margin-top: 100px;
	}


	.checkout_confirm_container .row .col-md-9 .checkout_nav
	{
	    margin-right: 0px !important;
	}



	/*	CHECKOUT LOGIN	*/



	#payment_login_new .form_line:last-of-type button
	{
		margin-top: 10px;
	}





	/*	CART 	*/



	#cart_container
	{
		width: 100%;
		margin-top: 100px;
	}



	/*	CHECKOUT PAYMENT 	*/


	.checkout_payment_container .checkout_nav
	{
		margin-right: -14px !important;
	}

	.order_summary_container h4
	{
		text-align: left;
	}

	.order_summary_container .order_sum_line .col-md-6
	{
		text-align: left !important;
	}

	.coupon_container
	{
		margin-bottom: 25px;
	}

	.checkout_payment_container .row:last-of-type .col-md-12
	{
		text-align: left !important;
	}

	.card_exp_cvv2:nth-of-type(1)
	{
	    width: 50%;
	}

	.card_exp_cvv2:nth-of-type(2)
	{
	    width: 46.5%;
	}


	/*	FOOTER 	*/


	footer
	{
		padding-top: 10px;
		padding-bottom: 10px;
	}	

	#footer
	{
		width: 100%;
	}

	.footer_rline
	{
		width: 45%;
		display: inline-block;
		margin-bottom: 0 !important;
		vertical-align: top;
	}

	.footer_rline:nth-of-type(2)
	{
		padding-left: 15px;
	}

	.footer_rline h4
	{
		margin-top: 0;
	}
}

@media only screen and (max-width : 830px){

	#newsletter_signup input[type=email]::placeholder
	{
		font-size: 12px;
	}
}

@media only screen and (max-width : 820px){

	/*	HOMEPAGE	*/


	#home_section_1_container
	{
	    margin-top: 60px;
	}

	#header_bottom
	{
		display: none;
	}

	#search_mobile
	{
		display: block;
	}


	/*	LOCATION	*/


	#countries_container
	{
	    margin-top: 90px;
	    padding-top: 10px;
	}


	/*	DESIGNER	*/

	#product_container
	{
		margin-top: 90px;
	}



	/*	DESIGNER LIST	*/


	#designers_container
	{
		margin-top: 90px;
	}


	/*	ACCOUNT HOME	*/



	#acc_landing_container
	{
		margin-top: 90px;	
	}



	/*	LOGIN / REGISTER	*/


	#login_register_container
	{
		margin-top: 90px;
		padding-top: 30px;
	}


	/*	LOYALTY 	*/


	#loyalty_container
	{
		margin-top: 90px;
	}




	/*	ORDER DETAILS 	*/


	#order_container
	{
		margin-top: 90px;
	}



	/*	WISHLIST 	*/


	#wishlist_container
	{
		margin-top: 90px;
	}


	/*	CHECKOUT ADDRESS 	*/



	#checkout_container
	{
		margin-top: 90px;
	}



	/*	CART 	*/



	#cart_container
	{
		margin-top: 90px;
	}

}

@media only screen and (max-width : 778px){

	/*	HOMEPAGE	*/


	#section_style_edit .row>.col-md-6>a>.col-md-6 h2
	{
		margin-top: 0;
	    font-size: 16px;
	}

	#section_style_edit .row>.col-md-6>a>.col-md-6 p
	{
	    font-size: 14px;
	}

	.slick-arrow.slick-prev
	{
		margin-left: 15px;
	}

	.slick-arrow.slick-next
	{
		margin-right: 15px;
	}

}


@media only screen and (max-width : 768px){

	/*	HOMEPAGE	*/


	#home_section_1 .col-md-12 a span:nth-of-type(1)
	{
	    top: 18px;
	}

	#home_section_1 .col-md-12 a span:nth-of-type(2)
	{
	    bottom: 18px;
	}

	#home_section_1 .col-md-12 h1
	{
	    font-size: 30px;
	}

	#section_2 a h1
	{
	    font-size: 26px;
	}

	#section_2 .col-md-6 a .designer_myle img
	{
	    height: 20px;
	}

	#section_3 a h1
	{
	    font-size: 26px;
	}

	#section_3 .col-md-6 a .designer_myle img
	{
	    height: 20px;
	}



	/*	ACCOUNT HOME	*/



	.acc_section
	{
	    padding: 20px 15px;
	    min-height: 150px;
	    margin-bottom: 30px;
	}



	/*	WISHLIST	*/



	#wishlist_table tbody tr td:nth-of-type(1)
	{
		padding-bottom: 50px;
	}

	.wishlist_details.table-responsive #wishlist_table>tbody>tr:last-of-type td
	{
		vertical-align: top;
	}



	/*	CART 	*/

	#cart_table tbody tr th
	{
		padding-right: 0 !important;
		width: auto !important;
	}

	#cart_table tbody tr th a img
	{
		width: 100px;
		height: auto;
	}

	#cart_table tbody tr:not(:nth-last-child(1)):not(:nth-last-child(2)):not(:nth-last-child(3)) td:nth-of-type(1)
	{
		display: inline-block;
		padding-bottom: 50px;
		padding-right: 25px;
		width: 250px !important;
	}

	#cart_table tbody tr td:nth-of-type(2)
	{
		padding-right: 25px;
	}

}

@media only screen and (max-width : 767px){

	/*	HOMEPAGE	*/


	.trending_choices
	{
		box-sizing: border-box;
		padding-left: 0;
		padding-right: 0;
	}



	/*	ACCOUNT HOME	*/



	.acc_section
	{
	    padding: 20px 15px;
	    min-height: auto;
	    margin-bottom: 10px;
	}



	/*	LOYALTY 	*/


	.loyalty_levels.table-responsive
	{
		border: 0;
		margin-bottom: 0;
	}



	/*	LOYALTY EARN	*/


	.earn_way
	{
		margin-bottom: 10px;
	}


	/*	ORDER DETAILS	*/



	.order_details.table-responsive
	{
		border: none;
	}




	/*	ORDERS	*/



	.order_content.table-responsive
	{
		border: none;
	}



	/*	WISHLIST 	*/


	.wishlist_details.table-responsive
	{
		border: none;
	}



	/*	CHECKOUT CONFIRM 	*/



	.billing_col,
	.shipping_col,
	.delivery_col,
	.payment_col
	{
		margin-bottom: 15px;
	}

	.cart_details.table-responsive
	{
		border: none;
	}



	/*	CHECKOUT PAYMENT 	*/


	.delivery_container
	{
	    padding-right: 15px;
	}

	.checkout_details.table-responsive
	{
		border: none;
	}

	.checkout_details table tbody tr th a img
	{
		width: 100px;
		height: auto;
	}

	.checkout_details table tbody tr th
	{
		width: auto;
		padding-left: 0;
	}



	/*	FOOTER 	*/



	footer .row:nth-of-type(1) .col-md-2
	{
		z-index: 1000;
	}

}

@media only screen and (max-width : 724px){


	/*	WISHLIST 	*/


	#wishlist_table tbody tr th
	{
		width: auto;
		padding-right: 0;
		padding-right: 0;
	}

	#wishlist_table tbody tr th a img
	{
		width: 100px;
		height: auto;
	}
	


	/*	FOOTER 	*/

	.footer_rline:nth-of-type(1)
	{
		width: 60%;
	}

	.footer_rline:nth-of-type(2)
	{
		width: 35%;
	}
}


@media only screen and (max-width : 685px){

	.view_controls
	{
		margin-left: 15px;
	}

	.pagination_controls
	{
		margin-left: 15px;
	}

	.filtered_products a
	{
	    width: 190px;
	    margin: 0px 0px 15px 3px;
	}

	.filtered_products a img
	{
	    width: 188px;
	}


}

@media only screen and (max-width : 650px){

	/*	HOMEPAGE	*/


	#header_top .col-xs-6:not(:last-of-type)
	{
		display: none;
	}

	#header_top .col-xs-6:last-of-type
	{
		width: 100%;
		padding-left: 0;
	}

	#header_top .col-xs-6:last-of-type a
	{
		float: left;
		margin-top: 5px;
	}

	#header_top .col-xs-6:last-of-type select
	{
		float: right;
	}

	#home_section_1 .col-md-12 h1
	{
	    font-size: 26px;
	}

	#home_section_1 .col-md-12 a span:nth-of-type(1)
	{
		top: 10px;
	    margin-left: -68px;
	    font-size: 8px;
	}

	#home_section_1 .col-md-12 a span:nth-of-type(2)
	{
		bottom: 10px;
	    margin-left: -68px;
	    font-size: 8px;
	}

	#section_2 a h1
	{
	    font-size: 20px;
	}

	#section_3 a h1
	{
	    font-size: 20px;
	}



	/*	PRODUCT	*/


	.discover_container h3
	{
	    top: 25%;
	    font-size: 30px;
	    line-height: 30px;
	}

	.discover_container h2
	{
	    top: 40%;
	    font-size: 50px;
	    line-height: 50px;
	}


	/*	LOYALTY REDEEM	*/



	.loyalty_content .row .col-md-4:nth-of-type(1)
	{
		padding-right: 5px;
	}

	.loyalty_content .row .col-md-4:nth-of-type(2)
	{
		padding-left: 5px;
		padding-right: 5px;
	}

	.loyalty_content .row .col-md-4:nth-of-type(3)
	{
		padding-left: 5px;
	}




	/*	WISHLIST	*/



	.wishlist_details.table-responsive #wishlist_table>thead>tr>th:nth-of-type(1)
	{
		display: none;
	}

	.wishlist_details.table-responsive #wishlist_table>tbody>tr>th
	{
		display: none;
	}

	.wishlist_details.table-responsive #wishlist_table>tbody>tr:not(:last-of-type) td:nth-of-type(1)
	{
		padding-left: 0;
	}

	.cart_btns
	{
	    left: 0px;
	}



	/*	CART 	*/


	.cart_details.table-responsive #cart_table>thead>tr>th
	{
		padding-left: 0;
	}

	.cart_details.table-responsive #cart_table>thead>tr>th:nth-of-type(1)
	{
		display: none;
	}

	.cart_details.table-responsive #cart_table>tbody>tr>th
	{
		display: none;
	}

	.cart_details.table-responsive #cart_table .cart_details_desc
	{
		padding-left: 0;
	}

	.cart_details.table-responsive #cart_table .cart_details_size
	{
		padding-left: 0;
	}

	.cart_details.table-responsive #cart_table .cart_details_size
	{
		padding-left: 0;
	}

	.cart_details.table-responsive #cart_table .cart_details_color
	{
		padding-left: 0;
	}

	.cart_details.table-responsive #cart_table .cart_details_size
	{
		padding-left: 0;
	}
}

@media only screen and (max-width : 635px){

	/*	HOMEPAGE	*/


	#section_style_edit .row
	{
		margin-bottom: 0;
	}

	#section_style_edit .row>.col-md-6
	{
		display: block;
		width: 100%;
		padding-left: 0px !important;
		padding-right: 10px !important;
		margin-bottom: 10px;
	}

	#section_style_edit .row>.col-md-6 a
	{
		overflow: hidden;
		display: block;
	}

	#section_style_edit .row>.col-md-6>a>.col-md-6 h2
	{
		margin-top: -5px;
	    font-size: 20px;
	}

	#section_style_edit .row>.col-md-6>a>.col-md-6 p
	{
	    font-size: 16px;
	}

	.slick-slide a img
	{
	    max-width: 100px;
	}


	/*	CHECKOUT ADDRESS	*/


	.checkout_address_line .col-md-6:nth-of-type(1)
	{
		padding-right: 5px;
	}

	.checkout_address_line .col-md-6:nth-of-type(2)
	{
		padding-left: 5px;
	}


	/*	CART 	*/


	#cart_table thead
	{
		display: none;
	}

	.cart_details.table-responsive #cart_table>tbody>tr>th
	{
		display: block !important;
	}

	#cart_table tbody tr:not(:nth-last-child(1)):not(:nth-last-child(2)):not(:nth-last-child(3)) td:nth-of-type(1)
	{
		padding-bottom: 15px;
		padding-right: 15px;
		width: 100% !important;
	}

	#cart_table tbody tr:not(:last-of-type) td
	{
		display: block;
		width: 100% !important;
	}

	#cart_table .cart_btns
	{
		left: unset;
		right: 0px;
		bottom: 15px;
		text-align: right;
		display: inline;
	}

	#cart_table tbody td:nth-of-type(1) .cart_btns
	{
		right: 0px;
		bottom: 25px;
		text-align: right;
	}

	#cart_table tbody tr .cart_details_price_total
	{
		padding-left: 0;
		text-align: left;
	}

	.cart_details.table-responsive #cart_table tbody tr:not(:nth-last-child(1)):not(:nth-last-child(2)):not(:nth-last-child(3)) td:nth-of-type(2):before
	{
		content: 'Size: ';
		text-transform: initial;
		font-weight: 500;
	}

	.cart_details.table-responsive #cart_table tbody tr:not(:nth-last-child(1)):not(:nth-last-child(2)):not(:nth-last-child(3)) td:nth-of-type(3):before
	{
		content: 'Color: ';
		text-transform: initial;
		font-weight: 500;
	}

	.cart_details.table-responsive #cart_table tbody tr:not(:nth-last-child(1)):not(:nth-last-child(2)):not(:nth-last-child(3)) td:nth-of-type(4):before
	{
		content: 'Price: ';
		text-transform: initial;
		font-weight: 500;
	}

	.cart_details.table-responsive #cart_table tbody tr:nth-last-child(3) td:nth-of-type(1)
	{
		text-align: left;
		padding-left: 0;
	}

	.cart_details.table-responsive #cart_table tbody tr:nth-last-child(3) td:nth-of-type(1) .mobile_cell
	{
		display: inline-block;
		margin-left: 5px;
	}

	.cart_details.table-responsive #cart_table tbody tr:nth-last-child(3) td:nth-of-type(2)
	{
		display: none;
	}

	.cart_details.table-responsive #cart_table tbody tr:nth-last-child(2) td
	{
		padding-left: 0;
	}

	.cart_details.table-responsive #cart_table tbody tr:nth-last-child(2) td p
	{
		text-align: left;
	}

	.cart_details.table-responsive #cart_table tbody tr:last-of-type td:nth-of-type(1)
	{
		display: inline-block;
		width: 60%;
	}

	.cart_details.table-responsive #cart_table tbody tr:last-of-type td:nth-of-type(2)
	{
		display: inline-block;
		width: 39%;
	}
}

@media only screen and (max-width : 545px){

	
	/*	PRODUCT	*/



	#product_specs
	{
		padding: 10px;
	}

	.prod_specs_nav
	{
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #202220;
	}


	.prod_specs_nav a
	{
		display: block;
		width: 100%;
		text-align: left;
		line-height: 2.5;
		text-align: left !important;
	}

	.discover_container h3
	{
	    top: 20%;
	    font-size: 30px;
	    line-height: 30px;
	}

	.discover_container h2
	{
	    top: 40%;
	    font-size: 40px;
	    line-height: 40px;
	}




	/*	LOYALTY REDEEM	*/



	.loyalty_content .row .col-md-4
	{
		display: block;
		width: 100%;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.redeem_way
	{
		margin-bottom: 10px;
	}



	/*	WISHLIST	*/


	.wishlist_details.table-responsive #wishlist_table thead
	{
		display: none;
	}

	.wishlist_details.table-responsive #wishlist_table tbody tr td
	{
		display: block;
		text-align: left;
		padding-left: 0;
	}

	.wishlist_details.table-responsive #wishlist_table tbody tr:not(:last-of-type) th
	{
		display: block;
	}

	.wishlist_details.table-responsive #wishlist_table tbody tr:not(:last-of-type) td:not(:first-of-type)
	{
		padding: 2px 0px;
	}

	.wishlist_details.table-responsive #wishlist_table tbody tr:not(:last-of-type) td:nth-of-type(2):before
	{
		content: 'Date Added: ';
		text-transform: initial;
		font-weight: 500;
	}

	.wishlist_details.table-responsive #wishlist_table tbody tr:not(:last-of-type) td:nth-of-type(3):before
	{
		content: 'Size: ';
		text-transform: initial;
		font-weight: 500;
	}

	.wishlist_details.table-responsive #wishlist_table tbody tr:not(:last-of-type) td:nth-of-type(4):before
	{
		content: 'Color: ';
		text-transform: initial;
		font-weight: 500;
	}

	.wishlist_details.table-responsive #wishlist_table tbody tr:not(:last-of-type) td:nth-of-type(5):before
	{
		content: 'Availability: ';
		text-transform: initial;
		font-weight: 500;
	}

	.wishlist_details.table-responsive #wishlist_table tbody tr:not(:last-of-type) td:nth-of-type(6):before
	{
		content: 'Price: ';
		text-transform: initial;
		font-weight: 500;
	}

	.wishlist_details.table-responsive #wishlist_table>tbody>tr:last-of-type>td
	{
		display: block;
		vertical-align: top;
		padding-top: 0;
		padding-bottom: 0;
		text-align: left !important;
		width: 300px;
	}

	.wishlist_details.table-responsive #wishlist_table>tbody>tr:last-of-type>td:nth-of-type(1)
	{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.wishlist_details.table-responsive #wishlist_table>tbody>tr:last-of-type>td:nth-of-type(2)
	{
		padding-bottom: 10px;
	}

	.wishlist_details.table-responsive #wishlist_table>tbody>tr:last-of-type>td button
	{
		margin-left: 0;
		width: 217px;
	}




	/*	CHECKOUT CONFIRM	*/	



	.checkout_confirm_container .checkout_nav
	{
	    margin-right: 0px;
	}

	.checkout_confirm_container .checkout_nav li
	{
	    width: 70px !important;
	}

	.checkout_confirm_container .checkout_nav .nav_dot
	{
	    left: 30px;
	}



	.card_exp_cvv2:nth-of-type(1)
	{
	    width: 48%;
	}

	.card_exp_cvv2:nth-of-type(2)
	{
	    width: 48%;
	}



	/*	FOOTER	*/


	.footer_rline
	{
		display: block;
		width: 100% !important;
		overflow: hidden;
	}

	.footer_rline:nth-of-type(1) h4
	{
		margin-bottom: 5px;
	}

	.footer_rline:nth-of-type(1) input[type=email]
	{
		width: 80% !important;
	}

	.footer_rline:nth-of-type(2)
	{
		margin-top: 20px;
		padding-left: 0;
	}

	.footer_rline:nth-of-type(2) h4
	{
		display: inline-block !important;
		margin-right: 10px;
	}

	.footer_rline:nth-of-type(2) ul
	{
		display: inline-block;
	}

	.footer_rline:nth-of-type(2) ul li
	{
		margin-right: 10px !important;
	}

	/*	CHECKOUT PAYMENT	*/


	.delivery_container .checkout_details
	{
		margin-bottom: 15px;
	}

	.delivery_container .checkout_details table thead
	{
		display: none;
	}

	.delivery_container .checkout_details table tbody th
	{
		padding-right: 0;
	}

	.delivery_container .checkout_details table tbody td:not(:nth-of-type(1))
	{
		display: block;
		font-size: 14px !important;
		text-align: left !important;
	}

	.delivery_container .checkout_details table tbody td:nth-of-type(2):before
	{
		content: 'Quantity: ';
		font-weight: 500;
	}

	.delivery_container .checkout_details table tbody td:nth-of-type(3):before
	{
		content: 'Size: ';
		font-weight: 500;
	}

	.delivery_container .checkout_details table tbody td:nth-of-type(4):before
	{
		content: 'Color: ';
		font-weight: 500;
	}

	.delivery_container .checkout_details table tbody td:nth-of-type(5):before
	{
		content: 'Price: ';
		font-weight: 500;
	}

}


@media only screen and (max-width : 505px){


	/*	ORDERS	*/


	.order_content table thead
	{
		display: none;
	}

	.order_content table tbody tr td
	{
		display: block;
		width: 100%;
		text-align: left !important;
	}

	.order_content table tbody tr td:nth-of-type(1):before
	{
		content: 'Date: ';
		font-weight: 500;
	}

	.order_content table tbody tr td:nth-of-type(2):before
	{
		content: 'Status: ';
		font-weight: 500;
	}

	.order_content table tbody tr td:nth-of-type(3):before
	{
		content: 'Payment Status: ';
		font-weight: 500;
	}

	.order_content table tbody tr td:nth-of-type(4):before
	{
		content: 'Shipment Status: ';
		font-weight: 500;
	}

	.order_content table tbody tr td:nth-of-type(5):before
	{
		content: 'Total: ';
		font-weight: 500;
	}

}


@media only screen and (max-width : 470px){

	/*	HOMEPAGE	*/


	#home_section_1
	{
		margin-bottom: 10px;
	}

	#home_section_1 .col-md-12 h1
	{
	    font-size: 22px;
	    top: 40%;
	    padding-left: 20px;
	    padding-right: 20px;
	}

	#home_section_1 .col-md-12 a span:nth-of-type(1)
	{
		display: none;
	}

	#section_2 .col-md-6
	{
		display: block;
		width: 100%;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		padding-left: 10px !important;
		padding-right: 10px !important;
		margin-bottom: 10px;
		overflow: hidden;
	}

	#section_2 .col-md-6 img
	{
		margin-top: -35px;
		margin-bottom: -35px;
	}

	#section_2 a h1
	{
	    font-size: 30px;
	}

	#section_3 .col-md-6
	{
		display: block;
		width: 100%;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		padding-left: 10px !important;
		padding-right: 10px !important;
		margin-bottom: 10px;
		overflow: hidden;
	}

	#section_3 a h1
	{
	    font-size: 30px;
	}

	#section_3 .col-md-6 img
	{
		margin-top: -35px;
		margin-bottom: -35px;
	}



	/*	ORDER DETAILS	*/


	#order_table thead tr th:nth-of-type(1)
	{
		display: none;
	}

	#order_table tbody tr th
	{
		display: none;
	}

	#order_table tbody tr td:nth-of-type(1)
	{
		padding-left: 0;
		padding-right: 0;
	}

	#order_table tbody tr:nth-last-child(1) td:nth-of-type(1)
	{
		text-align: left;
	}

	#order_table tbody tr:nth-last-child(1) td:last-of-type
	{
		display: none;
	}

	#order_table tbody tr:nth-last-child(2) td:nth-of-type(1)
	{
		text-align: left;
	}

	#order_table tbody tr:nth-last-child(2) td:last-of-type
	{
		display: none;
	}

	#order_table tbody tr:nth-last-child(3) td:nth-of-type(1)
	{
		text-align: left;
	}

	#order_table tbody tr:nth-last-child(3) td:last-of-type
	{
		display: none;
	}

	#order_table tbody tr:nth-last-child(1) td:nth-of-type(1) .mobile_cell,
	#order_table tbody tr:nth-last-child(2) td:nth-of-type(1) .mobile_cell,
	#order_table tbody tr:nth-last-child(3) td:nth-of-type(1) .mobile_cell
	{
		display: inline-block;
		margin-left: 10px;
		font-weight: 500;
	}

	.billing_col
	{
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}

	.shipping_col
	{
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}

	.delivery_col
	{
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}

	.payment_col
	{
		display: block;
		width: 100%;
	}



	/*	CART 	*/

	.shipping_option
	{
		padding-left: 50px;
		padding-right: 50px;
	}



	/*	FOOTER	*/

	.copy_container p
	{
		text-align: left;
	}
}


@media only screen and (max-width : 425px){

	#logo_header
	{
	    margin-top: 5px;
	    max-width: 230px;
	}

	#menu_mobile
	{
	    top: 5px;
	}

	#search_mobile
	{
	    top: 5px;
	}

	#section_2 a h1
	{
	    font-size: 24px;
	}

	#section_3 a h1
	{
	    font-size: 24px;
	}

	#section_style_edit>h1 img
	{
	    height: 15px;
	    margin-right: 30px;
	}

	#section_style_edit>h1 span
	{
	    top: 0px;
	    font-size: 27px;
	    letter-spacing: 15px;
	}



	/*	DESIGNER	*/



	.designer_controls
	{
		margin-bottom: 0;
	}

	.filtered_products a
	{
	    width: 180px;
	}

	.filtered_products a img
	{
	    width: 178px;
	}


	/*	DESIGNER LIST	*/


	#designers_container
	{
		margin-top: 70px;
	}


	/*	PRODUCT	*/


	.btn_bag_container
	{
		padding-right: 10px;
	}

	.btn_wishlist_container
	{
		padding-left: 10px;
	}

	.discover_container h3
	{
	    top: 10%;
	    font-size: 20px;
	    line-height: 20px;
	}

	.discover_container h2
	{
	    top: 30%;
	    font-size: 30px;
	    line-height: 30px;
	}


	/*	ORDER DETAILS	*/


	#order_container .row:nth-of-type(1) .col-md-12 h2
	{
		font-size: 20px;
	}

	#order_container .row:nth-of-type(1) .col-md-12 h4
	{
		font-size: 16px;
	}



	/*	CHECKOUT ADDRESS 	*/


	#checkout_container .row .col-md-9 .checkout_nav
	{
	    margin-right: 0px;
	}

	#checkout_container .row .col-md-9 .checkout_nav li
	{
	    width: 80px;
	}

	.nav_dot
	{
	    left: 35px;
	}

	#shipping_address .checkout_address_line.row
	{
		margin-bottom: 0 !important;
	}

	#shipping_address .col-md-6
	{
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}

	#shipping_address .col-md-12
	{
		margin-bottom: 10px;
	}

	.checkout_address_line .col-md-6:nth-of-type(1)
	{
		padding-right: 15px;
	}

	.checkout_address_line .col-md-6:nth-of-type(2)
	{
		padding-left: 15px;
	}



	/*	CHECKOUT CONFIRM	*/	

	.checkout_confirm_container .checkout_nav .nav_message
	{
	    font-size: 10px;
	}


	.checkout_confirm_container .checkout_nav li
	{
	    width: 60px !important;
	}

	.checkout_confirm_container .checkout_nav .nav_dot
	{
	    left: 25px;
	}



	/*	CART 	*/


	.cart_details.table-responsive #cart_table tbody tr:last-of-type td:nth-of-type(1)
	{
		display: block;
		width: 100%;
	}

	.cart_details.table-responsive #cart_table tbody tr:last-of-type td:nth-of-type(2)
	{
		display: block;
		width: 100%;
		text-align: left;
	}

	.cart_details.table-responsive #cart_table tbody tr:last-of-type td:nth-of-type(2) button
	{
		margin-left: 0;
		width: 217px;
	}



	/*	CHECKOUT PAYMENT 	*/


	.checkout_payment_container .checkout_nav
	{
		margin-right: 0px !important;
	}

	.delivery_container .checkout_details table tbody th
	{
		display: block;
	}

	.delivery_container .checkout_details table tbody td
	{
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.delivery_container .checkout_details table tbody td:nth-of-type(1)
	{
		display: block;
	}



	/*	CART 	*/


	.shipping_option
	{
		padding-left: 25px;
		padding-right: 25px;
	}

	.order_summary_container
	{
		margin-top: 25px;
	}

	.order_summary_container .order_sum_line .col-md-6:nth-of-type(1)
	{
		padding-right: 0;
	}

	.order_summary_container .order_sum_line:nth-of-type(1) .col-md-6:nth-of-type(1)
	{
		font-size: 14px;
	}

	.order_summary_container .order_sum_line:nth-of-type(2) .col-md-6:nth-of-type(1)
	{
		font-size: 14px;
	}

	.order_summary_container .order_sum_line:nth-of-type(3) .col-md-6:nth-of-type(1)
	{
		font-size: 18px;
	}


	.card_exp_cvv2:nth-of-type(1)
	{
	    width: 100%;
	    margin-right: 0;
	    margin-bottom: 10px;
	}

	.card_exp_cvv2:nth-of-type(2)
	{
	    width: 100%;
	}

}

@media only screen and (max-width : 360px){

	/*	HOMEPAGE	*/

	#home_section_1 .col-md-12 h1
	{
	    top: 50%;
	}

	#home_section_1 .col-md-12 a span:nth-of-type(2)
	{
		display: none;
	}

	#section_2 a h1
	{
	    font-size: 24px;
	    line-height: 1;
	}

	#section_3 a h1
	{
	    font-size: 24px;
	    line-height: 1;
	}

	#section_style_edit .row>.col-md-6>a>.col-md-6 h2
	{
		margin-top: -2px;
	    font-size: 16px;
	    margin-bottom: 5px;
	}

	#section_style_edit .row>.col-md-6>a>.col-md-6 p
	{
	    font-size: 14px;
	}

	#whats_trending h1
	{
		font-size: 26px;
	}





	/*	LOCATION	*/



	#countries_alph li a
	{
	    font-size: 18px;
	}

	#countries_container .row:nth-of-type(3) .col-md-4
	{
		display: block;
		width: 100%;
	}



	/*	DESIGNER LIST	*/



	#designers_alph li a
	{
	    font-size: 18px;
	}

	#designers_container .row:nth-of-type(3) .col-md-3
	{
		display: block;
		width: 100%;
	}


	/*	CHECKOUT ADDRESS 	*/



	.order_summary_container .order_sum_line:nth-of-type(1)
	{
	    font-size: 14px;
	}

	.order_summary_container .order_sum_line:nth-of-type(2)
	{
	    font-size: 14px;
	}

	.order_summary_container .order_sum_line:nth-of-type(3)
	{
	    font-size: 18px;
	}



	/*	FOOTER 	*/


	#footer
	{
		padding-top: 10px;
	}

	#footer .row:nth-of-type(1) .col-md-2:not(:last-of-type)
	{
		display: block;
		width: 100%;
		padding-left: 15px;
		margin-bottom: 10px;
	}

	#footer .row:nth-of-type(1) .col-md-2:not(:last-of-type) h4
	{
		margin-top: 0;
		margin-bottom: 5px;
	}

	#footer .row:nth-of-type(1) .col-md-2:not(:last-of-type) ul li
	{
		display: inline-block;
		margin-bottom: 5px;
		margin-right: 5px;
	}

}